input[type="checkbox"], input[type="radio"] {
  width: 22px; 
  height: 22px;
}

.rd label {
  font-size: .97rem;
  font-weight: 400;
  line-height: 1.84rem;
  color: #757575;
  font-family: RobotoDraft, "Helvetica Neue", Helvetica, Arial;
}

.rd input {
  vertical-align: middle;
}
.img-icn {
  font-size: 1.5em;
  padding-right: 4px;
}
.card-img-top {
  width: 75px;
}
img {
  cursor: pointer;
}

h4 {
  font-weight: 500;
  font-size: 15px;
}
.mendatoryField {
  color:red;
}